<div class="card-body">
  <%= form_with(model: news_ticker, url: url, local: true, class: "row g-3") do |form| %>
    <!-- Error Messages -->
    <% if news_ticker.errors.any? %>
      <div class="alert alert-danger">
        <h5><%= pluralize(news_ticker.errors.count, "error") %> prohibited this news ticker from being saved:</h5>
        <ul class="mb-0">
          <% news_ticker.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="col-12">
      <%= form.label :content, class: "form-label" %>
      <%= form.text_area :content, class: "form-control", rows: 4, placeholder: "Enter news ticker content" %>
    </div>

    <div class="col-md-3">
      <%= form.label :status, "Status", class: "form-label" %>
      <%= form.select :status, NewsTicker.statuses.keys.map { |status| [status.titleize, status] }, class: 'form-select' %>
    </div>

    <div class="col-12">
      <%= form.submit "Update News Ticker", class: "btn btn-primary w-100" %>
    </div>

  <% end %>
</div>
<div class="card-footer text-end">
  <%= link_to 'Back', admin_news_tickers_path, class: "btn btn-secondary" %>
</div>

