<div class="container my-5">
  <h1 class="mb-4">Shop</h1>

  <%= render partial: 'client/shared/banner' %>
  <%= render partial: 'client/shared/newsticker' %>

  <!-- Offers Section -->
  <% if @offers.present? %>
    <section class="py-2">
      <div class="container px-4 px-lg-2 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <% @offers.each do |offer| %>
            <div class="col mb-5">
              <div class="card h-100">
                <!-- Offer Image -->
                <% if offer.image.present? %>
                  <img class="card-img-top" src="<%= offer.image.url %>" alt="<%= offer.name %>"
                       style="width: 100%; height: 200px; object-fit: cover;" />
                <% end %>

                <!-- Offer Details -->
                <div class="card-body p-4">
                  <div class="text-center">
                    <!-- Offer Name -->
                    <h5 class="fw-bolder"><%= offer.name %></h5>
                    <!-- Offer Price -->
                    <p>Price: <%= number_to_currency(offer.amount) %></p>
                    <!-- Offer Coins -->
                    <p>Coins: <%= offer.coin %></p>
                    <!-- Offer Genre -->
                    <p>Genre: <%= offer.genre.titleize %></p>
                  </div>
                </div>

                <!-- Offer Actions -->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center">
                    <% if client_signed_in? %>
                      <% if offer.can_be_purchased_by?(current_client) %>
                        <div class="d-flex gap-2 justify-content-center pb-2">
                          <%= link_to "View", client_shop_path(offer), class: "btn btn-outline-dark mt-auto" %>
                          <%= button_to "Purchase", purchase_client_shop_path(offer), method: :post, class: "btn btn-outline-dark mt-auto" %>
                        </div>
                      <% else %>
                        <button class="btn btn-secondary mt-auto" disabled>You cannot purchase this offer</button>
                      <% end %>
                    <% else %>
                      <%= link_to "Sign in to Purchase", new_client_session_path, class: "btn btn-secondary mt-auto" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </section>
  <% else %>
    <p class="text-center">No offers available at the moment. Please check back later!</p>
  <% end %>
</div>
