<div class="container-fluid px-4 mt-3">
  <h1>Hi, <%= current_admin.username %></h1>
  <div class="card mb-4 mt-3">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Userlist
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead class>
        <tr>
          <th class="email">Parent Email</th>
          <th>Email</th>
          <th>Total Deposit</th>
          <th>Member Total Deposits</th>
          <th>Coins</th>
          <th>Total Used Coins</th>
          <th>Children Members</th>
          <th>Phone Number</th>
        </tr>
        </thead>
        <tbody>
        <% if @client_users.present? %>
          <% @client_users.each do |user| %>
            <tr>
              <td class="email"><%= user.parent_email %></td>
              <td><%= user.email %></td>
              <td><%= user.total_deposit %></td>
              <td><%= user.member_total_deposits %></td>
              <td><%= user.coins %></td>
              <td>0</td>
              <td><%= user.children_members.count %></td>
              <td><%= user.phone_number %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="8">No client users found.</td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


