<!--<div class="card custom-gradient shadow-sm rounded">-->
<div class="card-body custom-gradient">
    <p class="card-text text-primary"><strong><%= "#{@location.name}'s Address" %></strong></p>
    <p class="card-text mb-2"><strong>Phone Number:</strong> <%= @location.phone_number %></p>
    <p class="card-text mb-2"><strong>Street Address:</strong> <%= @location.street_address %></p>
    <p class="card-text mb-2"><strong>Barangay:</strong> <%= @location.barangay.name %></p>
    <p class="card-text mb-2"><strong>City:</strong> <%= @location.city.name %></p>
    <p class="card-text mb-2"><strong>Province:</strong> <%= @location.province.name %></p>
    <p class="card-text"><strong>Type:</strong> <%= @location.genre %></p>
  </div>
<!--</div>-->
