<div class="container py-3 px-3" style="max-width: 1000px;">
    <div class="row d-flex justify-content-center align-items-center ">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img src="https://images.pexels.com/photos/2923591/pexels-photo-2923591.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Sample photo"
                   class="img-fluid" style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem; width: 661px; height: 762px;" />
            </div>
            <div class="col-xl-6 bg-dark">
              <div class="card-body p-md-5 text-white">
                <h3 class="mb-5 text-uppercase">Offer Form</h3>

                <%= form_with model: [:admin, @offer], local: true, class: 'needs-validation', novalidate: true do |f| %>
                  <div class="form-outline mb-4">
                    <%= f.label :name, class: 'form-label', for: 'form3Example1m' %>
                    <%= f.text_field :name, required: true, class: 'form-control form-control-lg', id: 'form3Example1m' %>
                  </div>

                  <div class="form-outline mb-4">
                    <%= f.label :amount, class: 'form-label', for: 'form3Example1n' %>
                    <%= f.number_field :amount, step: 0, required: true, class: 'form-control form-control-lg', id: 'form3Example1n' %>
                  </div>

                  <div class="form-outline mb-4">
                    <%= f.label :coin, class: 'form-label', for: 'form3Example1m1' %>
                    <%= f.number_field :coin, required: true, class: 'form-control form-control-lg', id: 'form3Example1m1' %>
                  </div>

                  <div class="form-outline mb-4">
                    <%= f.label :status, class: 'form-label', for: 'form3Example1n1' %>
                    <%= f.select :status, Offer.statuses.keys.map { |s| [s.humanize, s] }, {}, class: 'form-control form-control-lg', id: 'form3Example1n1' %>
                  </div>

                  <div class="form-outline mb-4">
                    <%= f.label :image, class: 'form-label', for: 'form3Example8' %>
                    <%= f.file_field :image, class: 'form-control form-control-lg', id: 'form3Example8' %>
                  </div>

                  <div class="d-flex justify-content-end pt-3">
                    <%=link_to 'Back', admin_offers_path, class:"btn btn-light btn-lg" %>
                    <%= f.submit 'Submit form', class: 'btn btn-warning btn-lg ms-2' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
