<section class="vh-100 d-flex justify-content-center align-items-center">
  <div class="container py-5">
    <div class="row g-4 align-items-start">
      <!-- Profile Section -->
      <div class="col-md-6">
        <div class="card shadow" style="border-radius: 15px;">
          <div class="card-body text-center">
            <!-- Profile Image -->
            <div class="mt-3 mb-4">
              <img src="<%= current_client.image.url.present? ? current_client.image.url : 'https://via.placeholder.com/200' %>"
                   class="rounded-circle img-fluid border border-3 border-dark"
                   style="width: 200px; height: 200px;"
                   alt="Profile Image">
            </div>
            <h3 class="mb-2"><%= current_client.username %></h3>
            <p class="text-muted mb-4">
              <i class="bi bi-envelope me-1"></i><%= current_client.email %>
            </p>
            <div class="wrap">
              <button class="btn-circle">Cash in</button>
            </div>

            <div class="d-flex justify-content-between text-center mt-4 mb-4 m-5">
              <div class="px-2">
                <p class="mb-1 h6"><%= current_client.total_deposit %></p>
                <p class="text-muted mb-0">Total Deposit</p>
              </div>
              <div class="px-2">
                <p class="mb-1 h6"><%= current_client.coins %></p>
                <p class="text-muted mb-0">Coin Amounts</p>
              </div>
              <div class="px-2">
                <p class="mb-1 h6"><%= current_client.children_members %></p>
                <p class="text-muted mb-0">Invited members</p>
              </div>
            </div>

            <div class="row row-cols-2 g-3">
              <div class="col">
                <%= link_to 'Edit Profile', edit_client_registration_path, class: "btn-hover color-8" %>
              </div>
              <div class="col">
                <%= link_to 'Addresses', client_locations_path, class: "btn-hover color-8" %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- History Section -->
      <div class="col-md-6">
        <div class="card shadow" style="border-radius: 15px;">
          <div class="card-body">
            <div class="d-flex justify-content-center mb-3">
              <%= link_to 'Order History', order_history_client_me_path, class: "btn btn-light-dark me-2 " %>
              <%= link_to 'Lottery History', lottery_history_client_me_path, class: "btn btn-light-dark me-2" %>
              <%= link_to 'Winning History', winning_history_client_me_path, class: "btn btn-light-dark me-2 active" %>
              <%= link_to 'Invitation History', invitation_history_client_me_path, class: "btn btn-light-dark" %>
            </div>
            <div id="history-container" style="max-height: 510px; overflow-y: auto;">
              <div class="container-fluid">
                <% @winnings.each do |winner| %>
                  <div class="mb-4 shadow-sm border border-dark-subtle rounded-3">
                    <div class="card-body">
                      <!-- Item Details -->
                      <h5 class="card-title text-primary"><strong>Item:</strong> <%= winner.item.name %></h5>
                      <p class="card-text mb-2"><strong>Price:</strong> <%= number_to_currency(winner.price) %></p>
                      <p class="card-text mb-3"><strong>Status:</strong>
                        <span class="badge <%= winner.won? ? 'bg-success' : 'bg-secondary' %>">
              <%= winner.state.humanize %>
            </span>
                      </p>

                      <!-- Remark for Published State -->
                      <% if winner.published? %>
                        <p class="text-success mt-2"><strong>Thank you for sharing your feedback! You have been rewarded with bonus coins!</strong></p>
                      <% end %>

                      <!-- Action Buttons -->
                      <% if winner.won? %>
                        <%= link_to 'Claim Prize', 'javascript:void(0)',
                                    class: "btn btn-primary mb-2",
                                    'data-bs-toggle': :collapse,
                                    'data-bs-target': "#winnerTarget#{winner.id}" %>
                      <% end %>

                      <% if winner.delivered? %>
                        <%= link_to 'Share Feedback', edit_client_share_path(winner),
                                    class: 'btn btn-primary mb-2' %>
                      <% end %>

                      <!-- Address Selection (Collapse Section) -->
                      <div class="collapse mt-3" id="winnerTarget<%= winner.id %>">
                        <div class="card card-body shadow-sm bg-light border rounded-3" style="background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 95%);">
                          <% if current_client.locations.any? %>
                            <%= form_with model: winner,
                                          url: claim_prize_client_me_path(winner_id: winner.id),
                                          html: { class: "form", data: { controller: "address-details" } } do |form| %>

                              <h5 class="mb-3 text-center">
                                <%= form.label :locations, "Select Shipping Address", class: "col-form-label fw-bold w-100" %>
                              </h5>
                              <div class="container">

                                <div class="form-group row mb-4">
                                  <div class="row-cols-sm-6 text-center">
                                    <%= form.select :locations,
                                                    current_client.locations.map { |location| [location.full_address, location.id] },
                                                    { prompt: 'Please select a location' },
                                                    class: "form-select location-dropdown",
                                                    data: { action: "change->address-details#updateDetails",
                                                            address_details_target: "dropdown" } %>
                                  </div>
                                </div>

                                <div id="location-details" data-address-details-target="details">
                                  <p class="text-muted mb-0">Location details will appear here after selection.</p>
                                </div>

                                <div class="d-grid mt-4">
                                  <%= form.submit "Ship to this Address ✓", class: "btn btn-outline-light " %>
                                </div>
                              </div>

                            <% end %>
                          <% else %>
                            <h5 class="mb-3 text-center text-dark">No locations available</h5>
                            <div class="d-grid mt-4">
                              <%= link_to "Add New Address", new_client_location_path, class: "btn btn-outline-dark mt-2" %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
                <%= paginate @winnings %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





