<header class="py-lg-5 border-bottom mb-lg-2">
  <div class="container">
    <div class="text-center my-5">
      <h1 class="fw-bolder">Welcome to Winner's Feedback!</h1>
      <p class="lead mb-0">Let's hear from the winners' testimonies </p>
    </div>
  </div>
</header>

<div class="container my-4">
  <!-- Banner Image Carousel -->
  <%= render partial: 'client/shared/banner' %>
  <%= render partial: 'client/shared/newsticker' %>

  <% if @published_winners.any? %>
    <div class="container py-lg-4">
      <div class="row justify-content-center">
        <% @published_winners.each do |winner| %>
          <!-- Blog entries-->
          <div class="col-lg-6 mb-4">
            <!-- Featured blog post-->
            <div class="card mb-4">
              <!-- Display winner's picture or a placeholder -->
              <% if winner.picture.present? %>
                <%= image_tag winner.picture.url, class: "card-img-top", alt: winner.comment %>
              <% else %>
                <img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="Placeholder image"/>
              <% end %>
              <div class="card-body">
                <div class="d-flex justify-content-between small text-muted">
                  <span><%= winner.created_at.strftime('%B %d, %Y') %></span>
                  <span>Won by: <strong><%= winner.user.username %></strong> </span>
                </div>
                <h2 class="card-title"><%= winner.item&.name || "Prize" %></h2>
                <p class="card-text"><%= winner.comment.presence || "No feedback provided." %></p>
                <a class="btn btn-primary" href="#">Read more →</a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <!-- Pagination -->
      <div class="d-flex justify-content-center">
        <%= paginate @published_winners %>
      </div>
    </div>
  <% else %>
    <div class="container">
      <p class="text-center mt-4">No shares available.</p>
    </div>
  <% end %>
</div>


