<%= render 'client/shared/navbar' if request.host == 'client.com' %>
<div class="container d-flex justify-content-center align-items-center" style="min-height: 85vh">
  <div class="card shadow-lg p-5 w-100" style="max-width: 700px;">

    <!-- Tab navigation for Login and Register -->
    <ul class="nav nav-tabs mb-4 text-center">
      <li class="nav-item col-lg-6">
        <%= link_to "Login", new_client_session_path, class: "nav-link register_btn" %>
      </li>
      <li class="nav-item col-lg-6">
        <a class="nav-link active" href="<%= new_client_registration_path %>">Register</a>
      </li>
    </ul>

    <h2 class="text-center mb-4">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group mb-3">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter your email" %>
      </div>

      <div class="form-group mb-3">
        <%= f.label :password, class: "form-label" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Enter your password" %>
      </div>

      <div class="form-group mb-3">
        <%= f.label :password_confirmation, class: "form-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm your password" %>
      </div>

      <div class="d-grid">
        <%= f.submit "Sign up", class: "btn btn-dark btn-block" %>
      </div>
    <% end %>

  </div>
</div>
<%= render 'client/shared/footer' %>
